.nav {
    grid-area: n;
    background-color: wheat;
    padding: 20px;
  }

.nav__item:active, 
.nav__item:hover, 
.nav__item {
  text-decoration: none;
  color: #132977;
}

.nav__item.activeLink {
  color: #1E74FD;
}