.dialogs__container {
  display: grid;
  grid-template-areas: "u m";
  grid-template-columns: 2fr 10fr;
}

.dialogs__item, .dialogs__item:active, .dialogs__item:hover {
  display: flex;
  align-items: center;
  color: #132977;
  padding: 5px 20px;
  text-decoration: none;
}

.dialogs__item.activeLink {
    color: #1E74FD;
  }

.dialogs__users {
  grid-area: u;
}

.dialogs__messages {
  grid-area: m;
}

.dialogs__message {
  padding: 20px;
}

.message__status__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.message__container {
  display: flex;
  align-items: center;
}

.dialogs__item_img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.dialogs__item_text {
  padding: 10px;
}
